@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Credit Card System</h1>
    <p class="lead">A credit card is a card issued to consumers that is used to make purchases, with the agreement that the cardholder will ultimately pay back the card issuer for the cost of the items purchased, along with any agreed upon fees and interest, should they be assessed.</p>
    <p><a href="https://www.investopedia.com/terms/c/creditcard.asp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>