@model IEnumerable<MVCCreditCardSystem.Models.CreditCardProviderModel>

@{
    ViewBag.Title = "View Credit Card Providers";
}

<h2>Credit Card Provider List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
    </tr>
}

</table>
